{% load static %}
<html>
  <head>
    <title>django-batchform :: Demo</title>
    {% block css %}
      <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />
    {% endblock %}
  </head>

  <body>
    {% if messages %}
      <div id="messages">
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% block content %}
    {% endblock content %}
  </body>
</html>
