include LICENSE README
include requirements.txt

# Package data
recursive-include batchform *.html *.css *.js

# Companion data
recursive-include dev *.py
recursive-include tests *.py

# Doc
include doc/Makefile doc/make.bat
recursive-include doc *.py *.rst
include doc/_static/.keep_dir
prune doc/_build
